<!DOCTYPE html>
<html>
<head>
<title>MIFOOD-classify</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="__PUBLIC__/css/classify.css" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome icons -->
<link href="__PUBLIC__/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" /> 
<link href="__PUBLIC__/css/test.css" rel="stylesheet" type="text/css" media="all" />

<!-- //font-awesome icons -->
<!-- js -->
<script src="__PUBLIC__/js/jquery.min.js"></script>
<!-- //js -->
<link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="__PUBLIC__/js/move-top.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/easing.js"></script>
<!-- start-smoth-scrolling -->
<link href="__PUBLIC__/css/page.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript">
  $(function(){
    var location = {$location} ;
   if(location !=''){
      window.location.href="#href-location";
    }
    
  });
</script>
</head>
	
<body>
<!-- header -->
	<div class="agileits_header">
		<div class="w3l_offers">
			<a href="products.html">今日特别推荐 !</a>
		</div>
		<div class="w3l_search">
			<form action="<?php echo U('Index/search');?>" method="get">
				<input type="text" name="search" value="搜索..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '搜索...';}" required="">
				<input type="submit" value=" ">
			</form>
		</div>
		<div class="w3l-right">
		<ul>
		<if condition="$_SESSION['user'] eq '' ">
		 <li><span><img src="__PUBLIC__/images/location.png" />&nbsp&nbsp长沙</span></li>
					 <li><a href="#" data-toggle="modal" data-target="#myModal4"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>登录</a></li>
					<!-- <li><a href="#" data-toggle="modal" data-target="#myModal5"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>注册</a></li> -->
					 <else />
					<li><a href="__URL__/person" ><span class="glyphicon glyphicon-user" aria-hidden="true"></span>{$_SESSION['user']}</a></li>
					<li><a href="__URL__/log_out"><span class=" glyphicon" aria-hidden="true"></span>退出</a></li></if>
	 </ul>
		</div>
			<div class="clearfix"> </div>
	</div>
<!-- script-for sticky-nav -->
	<script>
	$(document).ready(function() {
		 var navoffeset=$(".agileits_header").offset().top;
		 $(window).scroll(function(){
			var scrollpos=$(window).scrollTop(); 
			if(scrollpos >=navoffeset){
				$(".agileits_header").addClass("fixed");
			}else{
				$(".agileits_header").removeClass("fixed");
			}
		 });
		 
	});
	</script>
<!-- //script-for sticky-nav -->
	<div class="logo_products">
		<div class="container">
			<div class="w3ls_logo_products_left">
				<h1><a href="index.html"><span>new</span> MIFOOD</a></h1>
			</div>
			<div class="w3ls_logo_products_left1">
				<ul class="special_items">
					<li><a href="__URL__/index">首页</a><i>/</i></li>
					<li ><a href="__URL__/top">Top系列</a><i>/</i></li>
					<li><a href="__URL__/classify/24"><span style="color:#E64C3C">分类</span></a><i>/</i></li>
					<li><a href="__URL__/health">写食派</a></li>
				</ul>
			</div>
		</div>
	</div>
<!-- //header -->
<!-- banner -->
	<div class="banner">
		<div class="w3l_banner_nav_left">
			<nav class="navbar nav_bottom">
			 <!-- Brand and toggle get grouped for better mobile display -->
			  <div class="navbar-header nav_2">
				  <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
			   </div> 
			   <!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
				<ul class="nav navbar-nav nav_1">
				<foreach name="category" item="v">
					<li><a href="__URL__/classify/category_id/{$v['category_id']}">{$v.category_name}</a></li>
    			</foreach>

					</ul>
				 </div><!-- /.navbar-collapse -->
			</nav>
		</div>
		<div class="w3l_banner_nav_right">
			<section class="slider">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<div class="w3l_banner_nav_right_banner">
	
							</div>
						</li>
						<li>
							<div class="w3l_banner_nav_right_banner1">								
							</div>
						</li>
						<li>
							<div class="w3l_banner_nav_right_banner2">
								<h3>折扣 <i>50%</i>推荐.</h3>
							</div>
						</li>
					</ul>
				</div>
			</section>
			<!-- flexSlider -->
				<link rel="stylesheet" href="__PUBLIC__/css/flexslider.css" type="text/css" media="screen" property="" />
				<script defer src="__PUBLIC__/js/jquery.flexslider.js"></script>
				<script type="text/javascript">
				$(window).load(function(){
				  $('.flexslider').flexslider({
					animation: "slide",
					start: function(slider){
					  $('body').removeClass('loading');
					}
				  });
				});
			  </script>
			<!-- //flexSlider -->
		</div>
		<div class="clearfix"></div>
	</div>
	<div id="top-brands">
		<div class="container">
			<h3>{$oneCategory[0]['category_name']}</h3>
			<div class="agile_top_brands_grids">
			<div id='ajaxpage'>
<div class='page' style='display:none;'><a href="{:U('classsify',array('p'=>1))}" title="">自动点击执行AJAX请求显示第一页内容</a></div> 
</div>
 <volist id='list' name='list'  key="k"> 
 <div class="col-md-3 top_brand_left">
					<div class="hover14 column">
						<div class="agile_top_brand_left_grid">
							<div class="agile_top_brand_left_grid_pos">
								<img src="__PUBLIC__/images/offer.png" alt=" " class="img-responsive" />
							</div>
							<div class="agile_top_brand_left_grid1">
								<figure>
									<div class="snipcart-item block">
										<div class="snipcart-thumb">
											<a href="__URL__/details/shop_id/{$list['shop_id']}"><img title=" " alt=" " src="{$list['shop_img']}" width="180" height="140"/></a>		
											<p>{$list['shop_name']}</p>
											<h4>【{$list['area']}{$list['zone']}】</h4>
										</div>
										<div class="snipcart-details top_brand_home_details">
												<fieldset>

													<a href="__URL__/details/shop_id/{$list['shop_id']}"><input type="submit" name="submit" value="去看看" class="button" /></a>
												</fieldset>
	
										</div>
									</div>
								</figure>
							</div>
						</div>
					</div>
				</div>
	  <if condition="($k eq 4)or($k eq 8) ">			
	  	<div class="clearfix"> </div>
			</div>
		</div>
				<div class="container">
			<div class="agile_top_brands_grids">
               </if>

</volist> 
				<div class="clearfix"> </div>
				
			</div>
		</div>
		</div>
		{$page}
<div class="footer">
		<div class="container">
			<div class="agile-footer-grids">
				<div class="col-md-4 agile-footer-grid">
					<h4> 关于我们</h4>
					<p>  经验交流</p>
					<h5> 外卖分析<h5>
				</div>
				<div class="col-md-4 agile-footer-grid">
					<h4>友情链接</h4>
					<ul class="float">
                        <li>
                            <a href="http://www.ttmeishi.com/">
                                天天美食
                            </a>
                        </li>
                        <li>
                            <a href="http://www.ttmeishi.com/">
                                口碑外卖
                            </a>
                        </li>
                        <li>
                            <a href="http://www.ttmeishi.com/">
                                易淘食
                            </a>
                        </li>
                    </ul>
                    <ul class="float">
                        <li>
                            <a href="http://www.ttmeishi.com/">
                                大众点评
                            </a>
                        </li>
                        <li>
                            <a href="http://www.ttmeishi.com/">
                                饿了吗
                            </a>
                        </li>
                        <li>
                            <a href="http://www.ttmeishi.com/">
                                美团外卖
                            </a>
                        </li>
                    </ul>
				</div>
				<div class="col-md-4 agile-footer-grid">
					<h4>热门主题</h4>
					<div class="popular-grids">
						<div class="popular-grid">
							<a href="top.html"><img src="__PUBLIC__/images/s1.jpg" alt="" /></a>
						</div>
						<div class="popular-grid">
							<a href="top.htmll"><img src="__PUBLIC__/images/s2.jpg" alt="" /></a>
						</div>
						<div class="popular-grid">
							<a href="top.html"><img src="__PUBLIC__/images/s3.jpg" alt="" /></a>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="popular-grids">
						<div class="popular-grid">
							<a href="top.html"><img src="__PUBLIC__/images/s5.jpg" alt="" /></a>
						</div>
						<div class="popular-grid">
							<a href="top.html"><img src="__PUBLIC__/images/s6.jpg" alt="" /></a>
						</div>
						<div class="popular-grid">
							<a href="top.htmll"><img src="__PUBLIC__/images/s7.jpg" alt="" /></a>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //footer -->
	<!-- agileits-copyright -->
	<div class="agileits-copyright">
		<div class="container">
			<p>© 2017 Food Corner. All rights reserved | Design by MIFOOD</p>
		</div>
	</div>
<!-- //contact -->
<!-- //contact -->
<!-- login -->

			<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" >
				<div class="modal-dialog" role="document">
					<div class="modal-content modal-info">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
						</div>
						<div class="modal-body modal-spa">
							<div class="login-grids">
									
									<div class="login-right">
										<h3>登录</h3> 
										<form action="{:U('Index/logins')}" method="post">
											<div class="sign-in">
												<h4>用户名:</h4>
												<input  class="username" type="text" name="username"   required="" value="">	
											</div>
											<div class="sign-in">
												<h4>密码 :</h4>
												<input type="password" name="password"  required="" value="" class="password">
											</div>
											<div class="single-bottom">
												<input type="checkbox"  id="brand" value="">
												<label for="brand"><span></span>记住密码</label>
											</div>
											<div class="sign-in">
												<input id="submit1" type="submit" value="登 录" >
											</div>
										</form>
									</div>
							</div>
						</div>
					</div>
				</div>
			</div>

<!-- //login -->
<!-- Bootstrap Core JavaScript -->
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
    $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');        
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');       
        }
    );
});
</script>
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
<script src="__PUBLIC__/js/minicart.min.js"></script>
<script>
	// Mini Cart
	paypal.minicart.render({
		action: '#'
	});

	if (~window.location.search.indexOf('reset=true')) {
		paypal.minicart.reset();
	}
</script>

</body></html>
<script type="text/javascript">
//这是分页中各个分页的AJAX请求
$(function(){
$('#ajaxpage').on('click','.page a',function () { 
$.ajax({
type: "GET",
url:$(this).attr('href'), //取得分页a标签链接地址，正好是要提交的控制器和传参：Index/ajaxPage/p/1
success:function(data){
$('#ajaxpage').html(data); //将分页控制器输出的模版加载到容器中
}
});
return false; //使a标签失效，防止页面跳转
});
});
$(function () {
$('.page1 a').trigger('click');
});
</script>