html, body{
	margin:0;
	background:	#fff;
    font-family: "Microsoft YaHei", "宋体", "Segoe UI", "Lucida Grande", Helvetica, Arial, sans-serif, FreeSans, Arimo;
   overflow-x:hidden;
}
li{list-style:none;}
/*-- contact --*/
.contact{
	background:#253b50;
	padding-bottom:100px;
}
.contact-left{
    padding:100px 0 55px;
	float:left;
}
.contact-right {
    padding:100px 0 0px 60px;
	float:right;
}
.contact-left h2 ,.contact-right h3{
    font-size: 25px;
    color: #fff;
}
.contact-left p.para {
    color: #9caec2;
    line-height: 2.2em;
    font-size: 15px;
	padding-bottom:50px;
	border-bottom:1px solid #9caec2;
    margin-top: 30px;
}
.copy-right{
    color: #9caec2;
    font-size: 14px;
    margin-top: 50px;	
}
.copy-right a {
    color: #9caec2;
	text-decoration:none;
}
.copy-right a:hover {
	color:#642200;
}
.strip{
    background: #00b4f9;
    width: 50px;
    height: 2px;
    margin-top: 20px;	
}
.contact-left {
    border-right: 1px solid #9caec2;
}
.contact-right input[type="text"], .contact-right input[type="email"] {
    border: 1px solid #fff;
    width: 38%;
    margin: 0 0 1.9em 0;
    outline: none;
    font-size: 13px;
    color: #fff;
    padding: 10px 12px;
    -webkit-appearance: none;
    background: none;
}
.contact-right input[type="submit"] {
    border: none;
    padding: 7px 0 9px;
    width: 22%;
    margin-top: 0px;
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
    outline: none;
    background: #642200;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -webkit-appearance: none;
}
.contact-right input[type="submit"]:hover{
	background: #aa8c82;
}
.contact-right form{
	margin-top:35px;
}
ul.con-icons li {
    color: #9caec2;
    list-style-type: none;
    font-size: 14px;
	display:inline-block;
	margin-right:10px;
}
ul.con-icons li span {
    top: 3px;
    font-size: 18px;
    margin-right: 9px;
}
ul.con-icons li a {
    color: #9caec2;	
	text-decoration:none;
}
ul.con-icons li a:hover {
	color:#642200;
}
ul.con-icons{
	margin:30px 0;
}
.fb_icons{
	margin-bottom:40px;
}
.fb_icons  li{
	list-style-type:none;
	display:inline-block;
	margin:0 2px;
	overflow:hidden;
	height:32px;
}
.fb_icons li a{
    width: 32px;
    height: 32px;
    display: inline-block;
    border: 1px solid #9caec2;
}
.fb_icons  li a.fb{
    background: url(../images/social.png) no-repeat -48px -7px;
}
.fb_icons  li a.twit{
    background: url(../images/social.png) no-repeat -7px -7px;
}
.fb_icons  li a.goog{
    background: url(../images/social.png) no-repeat -88px -7px;
}
.fb_icons li a.pin{
    background: url(../images/social.png) no-repeat -130px -7px;
}
.fb_icons li a.drib{
    background: url(../images/social.png) no-repeat -171px -7px;
}
/*-- //contact --*/
.header{
	background:#aa8c82;
}
.header_left {
    float: left;
    width: 50%;
}
.header_right{
	float:right;
}
.header_left ul li {
    color: #fff;
    list-style-type: none;
    font-size: 14px;
    display: inline-block;
    padding: 16px 21px;
}
.header_left ul li:nth-child(2) {
}

/*----------------------------------------------------------------------------------------------------------------------news----------*/

#news{ 
width:100%;
min-width:1140px;
background:url("../images/bg_dot.png") repeat center top; 
background-size:26px 40px;
padding:80px 0 100px;
}

#news h3{ text-align:center; }

.wrapper_news{
width:1140px;
margin:30px auto 0;
}

.list_box{ 
width:360px;
float:left;
}

.shina, .event{ margin-left:30px; }

.list_box h4{
font-size:17px;
font-weight:bold;
text-align:center;
letter-spacing:2px;
}

.list_box h4 span{
padding-bottom:5px; 
border-bottom:1px dotted #333;
}

.list_box p{ 
float:left;
margin-right:20px;
}

.list_box li{ 
margin-top:10px;
position:relative;
}

.list_box li:first-child{ margin-top:22px;}

.list_box li p img{ 
width:80px;
height:80px;
}

.list_box .txt{ 
width:100%;
height:80px;
background-color:#fff;
box-sizing: border-box;
border:1px solid #eee;
border-left:none;
padding:3px 20px 0 0;
}

.list_box .txt span{
font-size:11px;
font-weight:bold;
color:#642200;
line-height:1.4;
}
.clearfix a:hover{background: #aa8c82;opacity: .4;z-index: 4;}
.list_box h5{
font-size:13px;
line-height:1.4;
color:#474646;
}

#news .btn_more{
height:40px;
width:460px;
margin:40px auto 0;
}

#news .btn_more a {
border: 2px solid #642200;
background-color:#642200;
color:#fff;
line-height: 36px;
height:36px;
width:360px;
}

#news .btn_more a:hover {
color:#642200;
background-color: rgba(0,0,0,0);
}

.list_box li a{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
text-indent:-999px;
}
#news-btn a{margin-left:10px;}
#news-btn button{border: 2px solid #642200;
background-color:#642200;
color:#fff;
line-height: 36px;
height:36px;
width:360px;
 border-radius: 6px;
 margin-left:26px;
 margin-top:60px;}
 #news-btn button:hover{border:border: 2px solid #642200;
       background: none;
       color:#642200;}
@media screen and (max-width:740px){
  
#news{ 
min-width:100%;
padding:80px 0 100px;
}

.wrapper_news{ width:90%; }

.list_box{ 
width:100%;
float:none;
}

.list_box p{ margin-right:15px; }

.list_box li p img{ 
width:80px;
height:80px;
}

.shina, .event{ margin:40px auto 0; }

.list_box .txt{ padding:3px 15px 0 0; }

.list_box h5{
font-size:12px;
line-height:1.4;
}

#news .btn_more{ width:90%; }

#news .btn_more a { width:100%; }

}

/*---------------------------------------------------------------------*/


 /*-- w3layouts --*/

.header_left ul li span {
    top: 1px;
    font-size: 12px;
    margin-right: 14px;
    padding: 4px 5px;
    border-radius: 3px;
}
.header_left ul li a {
    color: #fff;
    text-decoration: none;
}
.header_left ul li a:hover{
	color: #642200;
}
.header_center{position: relative;
	height:60%;
    top:0px;
  left:188px;}
.header_center ul li  {
    color: #fff;
    text-decoration: none;
    float: left;
 padding: 16px 4px;

}
#header-btn{background: none;
   color:#642200;
   margin-top:-4px;
    }
#header_option{border:none;background:none;
  color:#fff;}
.login {
    float: left;
}
.login ul li {
    list-style-type: none;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    padding: 4px 11px;
    margin: 12px 6px 0 0;
}
.login ul li a {
    color: #fff;
    text-decoration: none;
	outline:none;
}
.login ul li a span {
    margin-right: 8px;
    font-size: 11px;
    top: 0px;
}
/*-- header-bottom--*/
.navbar-nav {
    float: right;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}
.navbar-default {
    background: none;
    border: none;
}
 /*-- agileits --*/
.navbar {
    position: relative;
    min-height: inherit;
    margin-bottom: 0;
}
.navbar-default .navbar-brand {
    color: #642200;
    font-size: 32px;
    text-decoration: none;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #642200;
    background-color: transparent;
}
.nav > li > a {
    padding: 10px 17px !important;
}
.logo h1 a span{
	color:#000;
}
.logo h1 a,.logo h1 a:hover{
    color: #642200;	
	text-decoration:none;	
}
.logo h1 a i{
background: url(../images/clinic.png) no-repeat 0px 0px;
	width:32px;
	height:32px;
	display:inline-block;	
}
/*start header*/
#title1{text-align:center;
     font-weight:bold;}
#title2{color:#666;
    font-size:14px;
       font-weight:bold;}
.grids img{margin-left:8%;
	margin-top:3%;
   width:40%;
   height:40%;}
#images p{margin-top:10px;
	width:40%;
   overflow: hidden;
      color:#666;
      line-height:36px;
      font-size:16px;
     font-weight:bold;}
/*-- footer --*/
.footer{
  background:#757272;
  padding:4em 0;
  margin-top:20px;
}
.agile-footer-grid h4{
    color: #FFFFFF;
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 1em 0;
    letter-spacing: 1px;
}
.agile-footer-grid p{
  color: #bbbbbb;
    font-size: .9em;
    line-height: 1.8em;
    margin: 0;
}
.agile-footer-grid h5{
    color:#bbbbbb;
    font-size: 1em;
    font-weight: 600;
    margin:1em 0; 
}
.agileinfo-social-grids ul {
    padding: 0;
    margin: 0;
}
.agileinfo-social-grids ul li {
    display: inline-block;
    margin: 0 .5em 0 0;
}
.agileinfo-social-grids ul li:last-child{
  margin-left:0;
}
.agileinfo-social-grids ul li a {
    color: #FFFFFF;
    text-align: center;
}
.float a{color:#bbb;}
.float a:hover{color:#f35041;}
.float li{padding-bottom: 10px;}
.agileinfo-social-grids ul li a i.fa.fa-facebook,.agileinfo-social-grids ul li a i.fa.fa-twitter,.agileinfo-social-grids ul li a i.fa.fa-rss,.agileinfo-social-grids ul li a i.fa.fa-vk {
    height: 30px;
    width: 30px;
    border: solid 2px #191d20;
    line-height: 29px;
    background: none;
    color: #bbbbbb;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agileinfo-social-grids ul li a i.fa.fa-facebook:hover {
  border: solid 2px #3b5998;
    color: #3b5998;
}
.agileinfo-social-grids ul li a i.fa.fa-twitter:hover{
  border: solid 2px #55acee;
  color: #55acee;
}
.agileinfo-social-grids ul li a i.fa.fa-rss:hover{
  border: solid 2px #f26522;
  color: #f26522;
}
.agileinfo-social-grids ul li a i.fa.fa-vk:hover{
  border: solid 2px #45668e;
  color: #45668e;
}
.agile-footer-grid p span{
  display:block;
  margin:1em 0 0 0;
}
.agile-footer-grid ul{
  padding:0;
  margin:0;
}
ul.w3agile_footer_grid_list li {
    list-style-type: none;
    color: #bbbbbb;
    line-height: 1.8em;
    margin-bottom: 1em;
  font-size:.9em;
}
ul.w3agile_footer_grid_list li:last-child {
    margin-bottom: 0;
}
ul.w3agile_footer_grid_list li a {
    color: #f35041;
    text-decoration: none;
}
ul.w3agile_footer_grid_list li span {
    display: block;
    margin: 1em 0 0;
}
ul.w3agile_footer_grid_list i.fa.fa-twitter{
  margin-right:1em;
}
.popular-grid{
    float: left;
    width: 29%;
    margin-right: 1em;
}
.popular-grid a img{
    width: 80%;
    height:80%;
    border: solid 2px #fff;
}
.popular-grid:nth-child(3){
  margin-right:0;
}
.popular-grids:last-child{
  margin:1em 0 0 0;
}
.agile-footer-grid input[type="email"] {
    display: inline-block;
    border: 2px solid #ffffff;
    width: 100%;
    outline: none;
    background: #FFFFFF;
    padding: 7px 15px;
    font-size: .9em;
    color: #BBBBBB;
    margin: 1.5em 0 1em;
}
.agile-footer-grid input[type="submit"] {
    outline: none;
    color: #FFFFFF;
    padding: .5em 2em;
    font-size: .9em;
    -webkit-appearance: none;
    background: none;
    border: 2px solid #ffffff;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
.agile-footer-grid input[type="submit"]:hover{
  border: 2px solid #f35041;
  color: #FFFFFF;
  background: #f35041;
}
/*-- //footer --*/
/*-- agileits-copyright --*/
.agileits-copyright{
    text-align: center;
    padding: 1em 0;
    background: #0f1215;
}
.agileits-copyright p{
  color:#bbbbbb;
  font-size:.9em;
  margin:0;
}
.agileits-copyright p a{
  color:#FFFFFF;
  text-decoration:none;
}
.agileits-copyright p a:hover{
  color:#f35041;
}


#the_last{
  padding-top: 20px;
}