* body{
	margin:0;
	padding:0;
}

h3{
    margin-top: 15px;
}

h4{
    margin-bottom:15px;
}

#header{
	background-color: #fff;
	border: none;
	border-bottom: 1px #aaa solid;
}

#carousel-299058{
	background:;
}

#carry{
	display: inline;
	margin-top:15px;
}

.fa{
	color: red;
}

#lll{
	text-align:center;
	display: inline;
  margin-top: 20px;
}

#rrr{
	float: right;
	display: inline;
	float: right;
	width: 300px;
	height: 350px;
	border: #d32323 solid 1px;
	margin-top: 25px;
}

#yyy{
	width: 100%;
}
#select a{color: #777;}
#select a:visited{color: red;}
#select a:hover{color: red;}


#select{
	margin-top: 30px;
}

#biaoqian1 li{
	margin-top: 20px;

}

#hhh{
    color:#FFF;
}

#biaoqian2 li a{
	margin-top: 20px;
	background-color: #fff;
	color: #000;
	border: 1px #337ab7 solid;
}

#media1,#media2 ,#media3{
	margin-top: 20px;
}

.footer{
  background:#757272;
  padding:4em 0;
  margin-top: 80px;
  margin-left: 0px;
}
.agile-footer-grid h4{
    color: #FFFFFF;
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 1em 0;
    letter-spacing: 1px;
}
.agile-footer-grid p{
  color: #bbbbbb;
    font-size: .9em;
    line-height: 1.8em;
    margin: 0;
}
.agile-footer-grid h5{
    color:#bbbbbb;
    font-size: 1em;
    font-weight: 600;
    margin:1em 0; 
}
.agileinfo-social-grids ul {
    padding: 0;
    margin: 0;
}
.agileinfo-social-grids ul li {
    display: inline-block;
    margin: 0 .5em 0 0;
}
.agileinfo-social-grids ul li:last-child{
  margin-left:0;
}
.agileinfo-social-grids ul li a {
    color: #FFFFFF;
    text-align: center;
}
.float a{color:#bbb;}
.float a:hover{color:#f35041;}
.float li{padding-bottom: 10px;}
.agileinfo-social-grids ul li a i.fa.fa-facebook,.agileinfo-social-grids ul li a i.fa.fa-twitter,.agileinfo-social-grids ul li a i.fa.fa-rss,.agileinfo-social-grids ul li a i.fa.fa-vk {
    height: 30px;
    width: 30px;
    border: solid 2px #191d20;
    line-height: 29px;
    background: none;
    color: #bbbbbb;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agileinfo-social-grids ul li a i.fa.fa-facebook:hover {
  border: solid 2px #3b5998;
    color: #3b5998;
}
.agileinfo-social-grids ul li a i.fa.fa-twitter:hover{
  border: solid 2px #55acee;
  color: #55acee;
}
.agileinfo-social-grids ul li a i.fa.fa-rss:hover{
  border: solid 2px #f26522;
  color: #f26522;
}
.agileinfo-social-grids ul li a i.fa.fa-vk:hover{
  border: solid 2px #45668e;
  color: #45668e;
}
.agile-footer-grid p span{
  display:block;
  margin:1em 0 0 0;
}
.agile-footer-grid ul{
  padding:0;
  margin:0;
}
ul.w3agile_footer_grid_list li {
    list-style-type: none;
    color: #bbbbbb;
    line-height: 1.8em;
    margin-bottom: 1em;
  font-size:.9em;
}
ul.w3agile_footer_grid_list li:last-child {
    margin-bottom: 0;
}
ul.w3agile_footer_grid_list li a {
    color: #f35041;
    text-decoration: none;
}
ul.w3agile_footer_grid_list li span {
    display: block;
    margin: 1em 0 0;
}
ul.w3agile_footer_grid_list i.fa.fa-twitter{
  margin-right:1em;
}
.popular-grid{
    float: left;
    width: 29%;
    margin-right: 1em;
}
.popular-grid a img{
    width: 80%;
    height:80%;
    border: solid 2px #fff;
}
.popular-grid:nth-child(3){
  margin-right:0;
}
.popular-grids:last-child{
  margin:1em 0 0 0;
}
.agile-footer-grid input[type="email"] {
    display: inline-block;
    border: 2px solid #ffffff;
    width: 100%;
    outline: none;
    background: #FFFFFF;
    padding: 7px 15px;
    font-size: .9em;
    color: #BBBBBB;
    margin: 1.5em 0 1em;
}
.agile-footer-grid input[type="submit"] {
    outline: none;
    color: #FFFFFF;
    padding: .5em 2em;
    font-size: .9em;
    -webkit-appearance: none;
    background: none;
    border: 2px solid #ffffff;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
.agile-footer-grid input[type="submit"]:hover{
  border: 2px solid #f35041;
  color: #FFFFFF;
  background: #f35041;
}
/*-- //footer --*/
/*-- agileits-copyright --*/
.agileits-copyright{
    text-align: center;
    padding: 1em 0;
    background: #0f1215;
}
.agileits-copyright p{
  color:#bbbbbb;
  font-size:.9em;
  margin:0;
}
.agileits-copyright p a{
  color:#FFFFFF;
  text-decoration:none;
}
.float li a{
    text-decoration: none;
}
.agileits-copyright p a:hover{
  color:#f35041;
}

#sure{
  margin-top: 15px;
}

#details_word1{
  margin-top: 20px;
}

#details_word2{
  margin-top: 10px;
}

#details_word3{
  margin-top: 10px;
}

#content_name{
  color: #642200;
  font-weight: 700;
}

#footer_px{
  margin-top: 30px;
}

#god_name{
  font-size: 30px;
}

.agile_top_brand_left_grid_pos{
  position: absolute;
  top: 0%;
  left: 0%;
}